// // Place all the styles related to the static_pages controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
* {
  box-sizing: border-box;
}

// body {
//   background: #EEEEEE;
//   color: #212121;
//   font-family: "Source Sans Pro";
//   font-size: 16px;
//   padding: 4rem 2rem 2rem;
//   display: flex;
//   justify-content: center;
//   flex-flow: row wrap;
// }

.optin-container {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
  width: 30rem;
}

.optin-container input[type=text] {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: lighter;
  font-size: 15pt;
  color: white;
  background: none;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid white;
  width: 80%;
  margin-right: 5px;
}

.optin-container input[type=number] {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: lighter;
  font-size: 15pt;
  color: white;
  background: none;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid white;
  width: 80%;
  margin-right: 5px;
}

::placeholder {
  color: white;
  opacity: 1;
}

.cta button {
  color: white;
  background: transparent;
  font-size: 15pt;
  border: 0;
}

.cta {
  background-image: linear-gradient(120deg, #c90000, #af0000);
  color: white;
  cursor: pointer;
  display: block;
  font-size: 2rem;
  line-height: 1;
  padding: 1.75rem 1rem;
  text-align: center;
  text-decoration: none;
  width: 100%;
  display: flex;
}

@media screen and (max-width: 600px) {
  .cta {
    line-height: 1.4;
    padding: 1.25rem 1rem;
  }
}

form {
  background: #f9f9f9;
  display: flex;
  flex-flow: row nowrap;
  padding: 1rem;
  margin: 0;
  flex-direction: row;
}

form input {
  padding: 0.75rem;
  margin: 0;
}

form input[type="email"] {
  border: none;
  font-size: 1rem;
  flex: 1;
  outline: #E52B50;
}

form input[type="email"]:focus {
  outline: 0.25rem solid #E52B50;
}

form input[type="submit"] {
  background: linear-gradient(#e84263, #e52b50);
  cursor: pointer;
  color: white;
  border: none;
  font-size: 1rem;
  margin: 0 0 0 1rem;
  padding: 0 3rem;
  transition: all 0.25s ease-in-out;
}

form input[type="submit"]:hover {
  background: linear-gradient(#e84667, #e63054);
}

@media screen and (max-width: 600px) {
  form {
    flex-flow: row wrap;
  }
  form input {
    padding: 1rem !important;
    margin: 0 !important;
    flex: 100%;
  }
  form input[type="submit"] {
    margin-top: 1rem !important;
  }
}

.hidden {
  display: none;
}

input:focus {
  outline: 0;
}

button:focus {
  outline: 0;
}